$primary: #275553;
$secondary: #F47648;
$white: #fff;
$black: #212121;
$grey: #ACACAC;
$dark-grey: #5A5A5A;

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

.scroll-to-top:hover {
    background-color: #555;
}
