.days__content {
    max-width: 500px;
}

.day-one {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(0, 0, 0) 80%), url('../img/day-one-bg.png') no-repeat;
    background-size: cover;
    padding: 80px 0 232px 0;
    position: relative;
    &::after {
        content: '';
        background: url('../img/cloud.png') no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
    }
}
.day-one__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.days__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    & span {
        color: $secondary;
        position: relative;
        &::before {
            content: '';
            width: 32px;
            height: 32px;
            background: url('../img/point.png') no-repeat;
            background-size: cover;
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.days__title--white {
    color: $white;
}

.days__title--black {
    color: $black;
}

.days__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    & p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.days__text--white {
    color: $white;
}

.days__text--black {
    color: $black;
}

.day-two {
    
    padding: 65px 0 80px 0;
    position: relative;
}


.day-two__inner {
    background: url('../img/day-two-bg.png') no-repeat;
    background-position: right top;
    background-size:auto ;
}    

.day-two__content-upper {
    & .days__title {
        max-width: 856px;
    }
    & .days__text {
     max-width: 548px;   
    }
}

.day-two__content-lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    & .days__text {
        max-width: 478px;
    }
}



.day-three {
    height: 877px;
    padding: 80px 0;
    position: relative;
    &::before {
        background: linear-gradient(180deg, rgba(255,255,255,0) 31%, rgb(0, 0, 0) 100%), url('../img/day-three-bg.png'), no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        z-index: -1;
    }
}

.day-three__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.day-four {
    background-color: black;
    padding: 80px 0;
    padding-bottom: 160px;
}



.day-four__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::before {
        content: '';
        background: url('../img/day-four-bg.png') no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: -165px;
        height: 273px;
        width: 373px;
    }
}

.day-five-six {
    padding: 80px 0;
    background: url('../img/day-five-six-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 300px;
    &::before {
        content: '';
        width: 100%;
        height: 116px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        background: url('../img/cloud.png') no-repeat;   
        background-size: cover;
    }
}

.day-five-six__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days__add {
    margin-top: 45px;
}
.days__add-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $white;
}
.days__add-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    padding: 16px 10px;
}
.days__add-text span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $white;
}
.days__add-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $grey;
}

.days__add-text--black span {
    color: $black;
}

.days__add-text--black p {
    color: $black;
    opacity: 0.7;
}

.days__add-title--black {
    color: $black;
}

.day-seven {
    padding: 80px 0;
    
}

.day-seven__content-upper {
    position: relative;
    &::before {
        content: "";
        background:url('../img/day-seven-bg.png') no-repeat;   
        background-position: right center;
        background-size: cover;
        position: absolute;
        width: 600px;
        height: 450px;
        z-index: -1;
        right: 0;
       }
       & .days__content {
        max-width: 660px;
       }
}

.day-seven__content-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    & .days__text {
        width: 45%;
        order: 2;
    }
    & .slider {
        order: 1;
    }
}


.day-eight {
    background:  linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 88%),  url("../img/day-eight-bg.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 710px;
    display: grid;
    place-items: center; 
    
}


@media screen and (max-width: 1140px) {
    .day-one__inner {
        flex-direction: column;
    }

    .day-two__inner {
        background: none;
    }

    .day-two__content-upper {
        & .days__title {
            max-width: 100%;
        }
        & .days__text {
            max-width: 100%;
        }
    }

    .day-two__content-lower {
        align-items: baseline;
        gap: 0;
        & .days__text {
            max-width: 100%;
        }
    }

    .days__content {
        max-width: 100%;
    }

    .day-three__inner, .day-five-six__inner, .day-seven__content-lower, .day-two__content-lower {
        flex-direction: column;
        & .days__content {
            order: 1;
        }
        & .slider {
            order: 2;
        }
        & .days__text {
            width: 100%;
            order: 1;
        }
    }

    .day-four__inner {
        flex-direction: column;
    }    


    .day-seven__content-upper {
        &::before {
            display: none;
        }
        & .days__content {
            max-width: 100%;
        }
    }
    .day-eight {
        & .days__content {
            max-width: 500px;
        }
    }
}

@media  screen and (max-width: 768px) {
    .days__title {
        & span {
            &::before {
                display: none;
            }
        }
        
    }
    .footer {
        display: none;
    }
}